.icon-sm.icon-codeblock:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	opacity: .5;
	background-size: 12px 12px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNTUzIDEzOTlsLTUwIDUwcS0xMCAxMC0yMyAxMHQtMjMtMTBsLTQ2Ni00NjZxLTEwLTEwLTEwLTIzdDEwLTIzbDQ2Ni00NjZxMTAtMTAgMjMtMTB0MjMgMTBsNTAgNTBxMTAgMTAgMTAgMjN0LTEwIDIzbC0zOTMgMzkzIDM5MyAzOTNxMTAgMTAgMTAgMjN0LTEwIDIzem01OTEtMTA2N2wtMzczIDEyOTFxLTQgMTMtMTUuNSAxOS41dC0yMy41IDIuNWwtNjItMTdxLTEzLTQtMTkuNS0xNS41dC0yLjUtMjQuNWwzNzMtMTI5MXE0LTEzIDE1LjUtMTkuNXQyMy41LTIuNWw2MiAxN3ExMyA0IDE5LjUgMTUuNXQyLjUgMjQuNXptNjU3IDY1MWwtNDY2IDQ2NnEtMTAgMTAtMjMgMTB0LTIzLTEwbC01MC01MHEtMTAtMTAtMTAtMjN0MTAtMjNsMzkzLTM5My0zOTMtMzkzcS0xMC0xMC0xMC0yM3QxMC0yM2w1MC01MHExMC0xMCAyMy0xMHQyMyAxMGw0NjYgNDY2cTEwIDEwIDEwIDIzdC0xMCAyM3oiLz48L3N2Zz4=);
}
